@font-face{
	font-family: "Product Sans";
	src: url('font/Product-Sans-Regular.ttf');
}

body{
	width: 100%;
	height: 100%;
	font-family: 'Product Sans';
	
}

/* index.php */

.contain1{
	background-image: url('../img/kota-malang.jpg');
	height: 91.1vh;
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
}

.contain2{
	height: 91.1vh;
	background-color: #d9d9d9;
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
}

/* p_laci.php */

.bckgrnd{
	background-size: cover;
	background-color: #3B3B3B;
	height: 100vh;
}

/* Edit Data */

.bckgrnd2{
	background-size: cover;
	background-color: #3B3B3B;
	height: 120vh;
}


.bg-card{
	background-color: #ffffcc;
}

.judul{
	font-size: 40px;
	color: #FFF;
}