@font-face{
	font-family: "Product Sans";
	src: url('font/Product-Sans-Regular.ttf');
}

@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(../../node_modules/material-design-icons/iconfont/MaterialIcons-Regular.eot); /* For IE6-8 */
  src: local('Material Icons'),
    local('MaterialIcons-Regular'),
    url(../../node_modules/material-design-icons/iconfont/MaterialIcons-Regular.woff2) format('woff2'),
    url(../../node_modules/material-design-icons/iconfont/MaterialIcons-Regular.woff) format('woff'),
    url(../../node_modules/material-design-icons/iconfont/MaterialIcons-Regular.ttf) format('truetype');
}

body{
	width: 100%;
	height: 100%;
	font-family: 'Product Sans';
	
}

.collapse1{
max-height: 100px;
  overflow: auto;
  display:inline-block;
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

/* Navbar */

.dropdown:hover>.dropdown-menu {
  display: block;
}

.dropdown>.dropdown-toggle:active {
  /*Without this, clicking will make it sticky*/
    pointer-events: none;
}

/* index.php */

.contain1{
	background-image: url('../img/page1.jpg');
	height: 120vh;
	background-repeat: no-repeat;
	background-attachment: fixed;
}

.contain2{
	height: 120vh;
	background-color: #0079a7;
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
}


.bg-card{
	background-color: #ffffcc;
}

.judul{
	font-size: 40px;
	color: #FFF;
}

/* About.php */

#page1{
  background-image: url("../img/archive.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height:70vh;
}

#page2{
  height:60vh;
}